*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: monospace;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
fieldset{
    border: 0;
}

/* ----HEADER---- */
.cabecera{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 3rem;
    background: #010060;
}
.cabecera__logo{
    width: 20rem;
}
.cabecera__texto{
    color: white;
    width: 20%;
}
.cabecera__menu{
    display: flex;
    gap: 1rem;
}
.menu__enlace{
    font-size: 1.3rem;
    color: white;
}
/* ----MAIN---- */
.destacados{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
.destacados__titulo{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #010060;
}
.destacados__evento{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.evento__imagen{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}
.evento__titulo{
    width: 100%;
    font-size: 1.2rem;
    color: #010060;
    text-align: start;
}

.evento__ver{
    width: 50%;
    padding: 0.5rem;
    color: white;
    text-align: center;
    background: #010060;
}
.evento__ver:hover{
    color: #010060;
    background: lightslategrey;
    cursor: pointer;
}
.evento__megusta {
    color: black;
}
.evento__megusta:hover {
    color: red;
    cursor: pointer;
}
.evento__comprar {
    color: red;
}
.evento__comprar:hover {
    color: #010060;
    cursor: pointer;
}

.newsletter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 4rem 3rem;
    background: black;
    color: lightslategrey;
}
.newsletter__imagen{
    width: 35%;
}
.newsletter__formulario{
    width: 60%;
}
.newsletter__titulo{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.newsletter__label{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.newsletter__input{
    width: 100%;
    padding: 1rem;
}
.newsletter__button{
    padding: 1rem;
    width: 100%;
    color: #010060;
    background: lightslategrey;
    border: solid 0.3rem white;
    transition: all ease 0.5s;
}
.newsletter__button:hover{
    color:lightslategrey;
    background: #010060;
    transition: all ease 0.5s;
}


/* ----FOOTER---- */
.footer{
    height: 5rem;
    background: #010060;
    display: flex;
    justify-content: center;
}
.footer__lista{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.footer__enlace{
    color: white;
}
